.item {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  color: black;
  border-radius: 1rem;
  background-color: gainsboro;
}

.item span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item span:first-of-type {
  border-left: 1px solid black;
}

.modal {
  width: 550px;
  background-color: gainsboro;
  color: black;
}

.modal button,
.item button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: none;
  transition: background 0.25s;
}

.modal button:hover,
.item button:hover {
  background: white;
}

.modal button img,
.item button img {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
}

.modal h2,
.item h2 {
  margin: 0;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal h2 {
  text-align: center;
}

.list h2::-webkit-scrollbar {
  display: none;
}

.modal input {
  width: 100%;
  height: 2rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  transition: background 0.25s;
}

.modal input:focus {
  background: gainsboro;
}

.modal div {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .modal {
    width: 95%;
  }
}
