.items {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.items li {
  width: 250px;
  height: 180px;
  border-radius: 1rem;
  box-shadow: blue 1px 1px 5px;
  overflow: hidden;
}

.items li img {
  width: 250px;
  height: 180px;
  object-fit: cover;
}
