.header {
  background-color: #0078d4;
  color: white;
  height: 3rem;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  justify-content: center;
}
